html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

header { 
    display: block;
    background-color: black;
    height: 35px;
    color: white;
    font: American Typewriter;
    padding-top: 15px;
}

footer { 
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   
   background:black;
}

#button1 {
	position:absolute;
	top: 5%;
	left: 45%;
}

.g-signin2{
  width: 200px;
  height: 50px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.homeText {
	text-align: right;
	margin-right: 50px;
	float: right;
	font-size: 18px
}

.profileText {
	text-align: right;
	margin-right: 50px;
	float: right;
	font-size: 18px
}

.sycamoreCalendarText {
	text-align: left;
	margin-left: 50px;
	float: left;
	font-size: 18px
}